<?xml version="1.0" encoding="UTF-8"?>

<configuration monitorInterval="1800" status="off">
	<Properties>
		<Property name="log-path">logs</Property>
	</Properties>
	
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
                    pattern="" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="com.test.stress" level="debug" additivity="false">
			<appender-ref ref="Console" />
		</Logger>
		<root level="info">
			<appender-ref ref="Console" />
			<appender-ref ref="Console" />
		</root>
	</Loggers>
</configuration>
